* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
}

.p--text {
  font-size: 21px;
}

.row {
  display: flex;
}

.col {
  width: 100%;
}

.col + .col {
  margin-left: 3em;
}

.hero--heading {
  margin-top: 0.8em;
}

.container {
  width: 80%;
  max-width: 1128px;
  margin: 0 auto;
}

.hero {
  min-height: 660px;
  background-color: #f3eed9;
}

.hero--flex-container {
  min-height: 660px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.hero--heading {
  color: #824936;
  font-size: 60px;
  margin: 0;
}

.hero--subheading {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.subsection {
  min-height: 400px;
  padding: 4em 0;
}

.subsection h3 {
  font-size: 36px;
}

.info--heading {
  color: #824936;
  font-size: 36px;
  text-align: center;
}

.info--text-wrapper {
  justify-content: space-between;
}

.text-image {
  background-color: #222c2a;
  color: #f3eed9;
}

.text-image--image {
  align-items: flex-start;
}

.image-text {
  background-color: #824936;
  color: #f3eed9;
}
